* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f1f1f1;
  overflow-x: hidden;
}

.navbar {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin-bottom: 2rem;
}

.navbar h1 {
  color: #000;
  font-size: 30px;
}

.navbar h1 a {
  color: #000;
  text-decoration: none;
}

.navbar ul {
  display: inline-flex;
  list-style: none;
}

.navbar ul li {
  padding: 10px;
}

.navbar ul li a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
}

.navbar ul li a:hover {
  text-decoration: underline;
  color: #585757;
}

.Auth {
  display: none;
}

.Guest {
  display: none;
}

.err {
  color: red;
  padding-left: 10px;
}
.success {
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  width: auto;
  color: #000;
  border-radius: 3px;
}
